.card {
  margin-left: 5px;
}
.card-like {
  width: max-content;
  margin: 0 auto;
}
.btn-group {
  margin: 0 auto;
}
.card-img-top {
  max-width: 300px;
}

.card-title {
  display: inline-flex;
}
.card-body {
  max-width: 300px;
}
